.contact__main {
    .kontaktinfo{
        font-size: 1.3rem;
        text-align: center;
    }
    .telefon{
        max-width: 8%;
        max-height: 8%;
        margin-bottom: 500px;
        margin-top: 30px;
    }
    .mail{
        max-width: 8%;
        max-width: 8%;
        margin-left: 100px;
        margin-bottom: 500px;
    }
    .banner{
        background-image: url("../media/images/contact/svej.jpg");
        background-color:rgba(0, 0, 0, 0.363);
        background-blend-mode: darken;
        background-position: center;
        max-width: 100%;
        height: 50vh;
        background-size: cover;
        .bannertext{
            max-width: 500px;
            text-align: center;
            margin: 0 auto;
            padding-top: 20vh;
            position: relative;
        }
    }

    .billede1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.3rem;
    }

    //map
    #map {
        height: 50vh;
    }
    .marker {
    background-image: url("../media/images/contact/mapbox-icon.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    }
    .mapboxgl-popup {
    max-width: 200px;
    }
    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:black;
    }
    //map end

    @media only screen and (max-width: 768px) {
        .kontaktinfo {
            text-align: center;
            display: block;
            max-width: 100%;
        }
        .kontaktinfo p {
            text-align: center;
            display: block;
        }
    }
}