.portfolio__main {
    .banner{
        background-image: url("../media/images/contact/svej.jpg");
        background-color:rgba(0, 0, 0, 0.4);
    }
    .main__bgWrap {
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
    }
    .main__btnContainer {
        height:100px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap;
        button {
            border: 1px solid black;
            background-color: black;
            height:fit-content;
            color: white;
            padding: 10px;
            font-size: 16px;
            width:200px;
            transition:200ms;
            cursor:pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .filter--active {
            background:rgb(245, 245, 245);
            color:black;
        }
    }
    

    .main__imgContainer {
        display: flex;
        flex-wrap: wrap;
        img {
            margin: 10px;
            vertical-align: baseline;
            width:360px;
        }
    }

    .picture3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        font-size: 1.5rem;
    }

    


}